.popup {
    filter: drop-shadow(1, 45, #000000, 0.15, 1, 1, 1, 3, false);
}

.dialog {
    filter: drop-shadow(0, 45, #000000, 0.2, 30, 30, 1, 15, false);
}

.menubar {
    filter: drop-shadow(1, 45, #000000, 0.15, 1, 1, 1, 3, false);
}

.menu {
    filter: drop-shadow(1, 45, #000000, 0.15, 1, 1, 1, 3, false);
}
