.label, .textfield, .textarea {
    font-name: "haxeui-openfl/styles/fonts/Roboto-Regular.ttf";
    __font-name: "_sans";
    font-size: 13px;
}

.flash .label, .flash .textfield, .flash .textarea {
    font-name: "_sans";
}

.scrollview, .listview {
    padding: 1px;
}

/* https://github.com/openfl/openfl/issues/2215 */
.textfield, .textarea {
    filter: none;
}

.popup {
    filter: drop-shadow(1, 45, #D0D0D0, 0.15, 1, 1, 1, 3, false);
}

.dialog {
    filter: drop-shadow(0, 45, #CCCCCC, 0.2, 30, 30, 1, 15, false);
}

.menubar {
    filter: drop-shadow(1, 45, #D0D0D0, 0.15, 1, 1, 1, 3, false);
}

.menu {
    filter: drop-shadow(1, 45, #D0D0D0, 0.15, 1, 1, 1, 3, false);
}

.sidebar {
    filter: drop-shadow(0, 45, #CCCCCC, 0.1, 30, 30, 1, 15, false);
}

.treeview {
    background-color: white;
}

.treeview .itemrenderer {
    background-color: white;
}
    
.treeview .itemrenderer:hover {
    background-color: #d9e5f2;
}

.treeview .itemrenderer:node-selected {
    background-color: #a7c4e2;
}

/************************************************************************
** FIX SOME OPENFL ODDITIES
*************************************************************************/
.number-stepper.classic-stepper .stepper-deinc {
    margin-top: -1px;
}

.property-group-item-editor-container .numberstepper {
    filter: none;
}

.property-grid {
}

.tooltip {
    filter: none;
}

/************************************************************************
** MOBILE VARIANTS
*************************************************************************/
.popup:mobile {
    /* MAKES THINGS RUN SUPER SLOW - OPENFL ISSUE :( */
    __filter: drop-shadow(0, 45, #CCCCCC, 0.2, 30, 30, 1, 15, false);
    /* THIS IS _OK_ */
    filter: drop-shadow(4, 45, #CCCCCC, 0.15, 1, 1, 1, 3, false);
}


.popup:mobile {
    filter: none;
}

.dialog:mobile {
    filter: none;
}

.menubar:mobile {
    filter: none;
}

.menu:mobile {
    filter: none;
}

.sidebar:mobile {
    filter: drop-shadow(10, 45, #CCCCCC, 0.1, 5, 5, 1, 3, false);
}
