.label, .textfield, .textarea {
    font-name: "fonts/Roboto-Regular.ttf";
    __font-name: "_sans";
    font-size: 13px;
}

.flash .label, .flash .textfield, .flash .textarea {
    font-name: "_sans";
}

.scrollview, .listview {
    padding: 1px;
}

.textfield, .textarea {
    filter: drop-shadow(1, 45, #CCCCCC, 0.2, 1, 1, 1, 3, true);
}

.popup {
    filter: drop-shadow(1, 45, #CCCCCC, 0.15, 1, 1, 1, 3, false);
}

.dialog {
    filter: drop-shadow(0, 45, #CCCCCC, 0.2, 30, 30, 1, 15, false);
}
