<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-openfl">
    <resources>
        <resource path="/haxe/ui/backend/openfl/_module/styles" prefix="haxeui-openfl/styles" />
    </resources>
    <themes>
        <global>
            <style resource="haxeui-openfl/styles/main.css" />
        </global>
        <default>
            <style resource="haxeui-openfl/styles/default/main.css" />
        </default>
        <dark parent="default">
            <style resource="haxeui-openfl/styles/dark/main.css" />
        </dark>
    </themes>
</module>